{% extends 'admin/templates/admin_template.html' %}
    {% block title %} URCIS - centro gyventojų registras  {% endblock %}


    {% block content %}
    <h4>Šių metų statistika</h4>
    <img src="/uploaded_file/grafikas2.png" alt="Grafikas">
<p></p>
    <img src="/uploaded_file/grafikas3.png" alt="Grafikas">

    <h4>10 metų statistika</h4>
    <img src="/uploaded_file/grafikas.png" alt="Grafikas">
<p></p>
<img src="/uploaded_file/grafikas1.png" alt="Grafikas">

  <h1>2024 m. pristatomų asmenų prognozė pagal mėnesius</h1>
   <img src="/uploaded_file/prognoze.png" alt="Grafikas">
    {% endblock %}

</body>
</html>

