{% extends 'public/templates/public_template.html' %}
    {% block title %} URCIS - centro gyventojų registras  {% endblock %}


    {% block content %}
    <h4>Šių metų statistika</h4>
    <img src="/uploaded_file/grafikas2.png" alt="Grafikas">
<p></p>
    <img src="/uploaded_file/grafikas3.png" alt="Grafikas">

    <h4>Centro statistika nuo įsteigimo</h4>
    <img src="/uploaded_file/grafikas.png" alt="Grafikas">
<p></p>
<img src="/uploaded_file/grafikas1.png" alt="Grafikas">

    {% endblock %}

</body>
</html>

